body {
width: 100%;
}
h1 {
    font-family: 'Raleway';
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin-top: 120px;
}

#main-page {
    height: 25px;
    width: 375px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    display: none;
}
#next-page {
    height: 25px;
    width: 375px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    background-color: whitesmoke;
    display: none;
}
.maincontent, .nextcontent {
    /* padding-top: 40px; */
    display: none;
}

a.back{
    font-family: 'Lato';
    font-size: 20px;
    color: #dfdfdf;
    text-decoration: none;
    text-align: center;
    width: 20%;
    margin: 25px auto 30px auto;
    display: block;
}
a.mainlink, a.nextlink {
    font-family: 'Lato';
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50% 20% / 10% 40%;
    padding: 15px 10px;
    display: block;
    text-align: center;
    margin: 25px auto;
    width: 13%;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
 
}
a.mainlink:hover, a.nextlink:hover{
    background: #fff;
    color: #575757;
}

.sidebar {
    background-color: rgb(31, 31, 31);
    height: 100vh;
    border-right: 1px solid coral;
    padding-left: 0;
    padding-right: 0;
    color: white;
}

.panelid {
    background-color: whitesmoke;
    border: 1px solid lightgray;
    box-shadow: 0 0 5px 2px lightgray inset; 
    border-top: 1px solid coral;
}
.content {
    border-top: 1px solid coral;
    overflow: overlay;
    height: 100vh;
    padding-top: 25px;
}

.sidebar{
    padding-left: 0!important;
    padding-right: 0!important;
}

.sidebar ul{
    width: 100%;
    list-style: none;
    margin-top: 40%;
    padding-left: 0;
    padding-right: 0;
}

.sidebar ul li {
    padding: 5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    border: 1px solid coral;
}

.img-top {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: auto;
    padding: 10px;
    border: 2px solid white;
}
.img-top:hover {
    height: 160px;
    width: 160px;
    transition: 0.3s;
    filter: contrast(1.4);
}

.card-text .row .col a {
    margin : auto;
}
.card-text .row .col a:hover {
    filter: brightness(0) invert(1);
    transition: 0.4s;
}

.card {
    margin-top: 10%;
}

.name {
    font-weight: bold;
    color: white;
    font-size: 15px;
    text-align: center;
}

.describe {
    font-weight: 400;
    color: white;
    text-align: center;
}
.describe_body {
    background-color: rgb(31, 31, 31);
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

.mainrow {

}